.page.type-page{
  .entry-header{
    padding: 0 20px;
  }
  .entry-content{
    padding: 0 20px 20px;

    ul{
      padding-left: 1em;
      li{
        list-style: disc;
        margin-bottom: .5em;
      }
    }

    p{
      margin-top: 0;
    }
  }
}