.search-results{
  .page-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px!important;
    line-height: 21px;
    color: #333333;
    padding: 0 20px;
  }
}
