
.term-description{
  display: none;
}

.tag-cloud{
  padding: 6px 20px;
  
  .tag-cloud-link{
    background: rgba(3, 144, 236, .1);
    border-radius: 50px;
    display: inline-block;
    margin-right: 4px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    text-align: right;
    color: #2586FD;
    padding: 0 8px;
    line-height: 24px;
    height: 24px;

    &.current{
      background: #0390EC;
      color: #FFFFFF;
    }
  }
}