//
// 2.2 Project Colors
//

// base colors
$color-white: #fff;
$color-black: #000;
$color-red: #f00;
$color-chateau-green: #2cac4a;
$color-forest-green: #139231;
$color-night-rider: #333;
$color-grey: #7f7f7f;
$color-tapa: #757575;
$color-silver: #bdbdbd;
$color-gainsboro: #e0e0e0;
$color-snow: #fcfcfc;
$color-quartz: #dadada;
$color-white-smoke: #f2f2f2;

$color-base-text: $color-night-rider;
$color-main-bg: $color-snow;
$color-link: $color-chateau-green;
$color-border: $color-gainsboro;
$color-require: $color-red;
$color-cart-count: $color-chateau-green;
$color-footer: $color-white;
$color-search: $color-gainsboro;
$color-search-border: $color-chateau-green;
$color-footer-menu: $color-night-rider;
$color-footer-icons: $color-tapa;

$color-product-capacity: $color-forest-green;
$color-add-to-cart: $color-chateau-green;
$color-qty-control: $color-chateau-green;

$color-body-bg: $color-snow;

$color-price: $color-night-rider;

$color-sort: $color-grey;

$color-slider-dot: $color-quartz;
$color-slider-dot-active: $color-chateau-green;

$color-category: $color-night-rider;
$color-category-border: $color-white-smoke;
