// simple list
.category_list {
  .categories-header {
    @include margin(0 0 8px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to(m) {
      @include margin(0 0 20px);
    }

    h4 {
      @include font-size(16px);
      line-height: 1.5;
      margin-bottom: 0;

      @include respond-to(m) {
        @include font-size(24px);
        font-weight: weight('semibold');
      }
    }
  }

  .categories-switcher {
    @include spacing(width, 20px);
    @include spacing(height, 20px);
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    outline: none;
    cursor: pointer;

    @include respond-to(m) {
      @include spacing(width, 22px);
      @include spacing(height, 22px);
      background-size: 100%;
    }
  }

  .categories-wrapper {
    @include respond-to(m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .child {
      display: none;
    }
  }

  .list {
    .categories-switcher {
      background-image: url('../../img/ico/categories-list.svg');
    }

    .categories-wrapper {
      @include respond-to(xs-max) {
        border-radius: 5px;
        background: $color-white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        overflow: hidden;
      }

      .item {
        &:not(:last-child) {
          border-bottom: 1px solid $color-category-border;
        }

        @include respond-to(m) {
          box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
          background: $color-white;
          border-radius: 5px;
          flex-basis: 32.4%;
        }

        .parent {
          @include padding(16px 20px 15px);
          @include font-size(15px);
          display: block;
          color: $color-category;
          text-decoration: none;
          position: relative;

          @include respond-to(m) {
            @include padding(19px 21px);
            @include font-size(18px);
            font-weight: weight('medium');
          }

          &::after {
            @include spacing(width, 15px);
            @include spacing(height, 15px);
            @include spacing(right, 20px);
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            position: absolute;
            content: '';
            background-image: url('../../img/ico/arrow-right.svg');
            background-repeat: no-repeat;

            @include respond-to(m) {
              @include spacing(width, 18px);
              @include spacing(height, 18px);
              background-size: 100%;
            }
          }
        }

        img {
          display: none;
        }
      }
    }
  }

  // mid pics
  .list-pic {
    .categories-switcher {
      background-image: url('../../img/ico/categories-list-pic.svg');
    }

    .categories-wrapper {
      .item {
        @include margin(0 0 10px);
        display: flex;
        align-items: center;
        background: $color-white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;

        @include respond-to(m) {
          @include margin(0 0 16px);
          flex-basis: 31.4%;
        }

        .img-wrapper {
          @include spacing(width, 112px);
          @include spacing(height, 84px);

          @include respond-to(m) {
            @include spacing(width, 150px);
            @include spacing(height, 112px);
          }

          img {
            object-fit: cover;
          }
        }

        .parent {
          @include padding(0 28px);
          @include font-size(15px);
          display: block;
          flex: 1 1 auto;
          color: $color-category;
          text-decoration: none;
          position: relative;

          @include respond-to(m) {
            @include font-size(22px);
            @include line-height(33px);
            font-weight: weight('medium');
          }
        }
      }
    }
  }

  // big pics
  .grid {
    .categories-switcher {
      background-image: url('../../img/ico/categories-grid.svg');
    }

    .categories-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        @include margin(0 0 10px);
        background: $color-white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;
        flex-basis: 48%;

        @include respond-to(m) {
          @include margin(0 0 28px);
          flex-basis: 23%;
        }

        .parent {
          @include padding(9px 12px);
          @include font-size(15px);
          display: block;
          color: $color-category;
          text-decoration: none;
          position: relative;

          @include respond-to(m) {
            @include padding(10px 12px);
            @include font-size(20px);
            @include line-height(30px);
            font-weight: weight('medium');
            text-align: center;
          }
        }

        .img-wrapper {
          position: relative;
          padding-bottom: 75%;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  // big grid
  .big-grid {
    .categories-switcher {
      background-image: url('../../img/ico/categories-big-grid.svg');
    }

    .categories-wrapper {
      @include padding(0 0 50px);

      .item {
        @include margin(0 0 10px);
        background: $color-white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;
        flex-basis: 100%;

        @include respond-to(m) {
          @include margin(0 0 30px);
          flex-basis: 31.6%;
        }

        .parent {
          @include padding(11px 12px);
          @include font-size(18px);
          display: block;
          font-weight: weight('semibold');
          color: $color-category;
          text-decoration: none;
          position: relative;
          text-align: center;

          @include respond-to(m) {
            @include padding(15px 12px);
            @include font-size(24px);
            @include line-height(36px);
            font-weight: weight('medium');
          }
        }

        .img-wrapper {
          position: relative;
          padding-bottom: 75%;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
