.product-category-header {
  @include margin(-25px 0 18px);
  display: flex;
  flex-direction: row-reverse;
  float: right;

  .woocommerce-result-count {
    display: none;
  }

  .woocommerce-ordering {
    margin: 0;
  }

  .product-filter {
    @include margin(0 0 0 25px);
  }
}
